[package]
name = "paccat"
version = "0.1.0"
authors = ["morganamilo <morganamilo@archlinux.org>"]
edition = "2018"

description = "Print pacman package files"
repository = "http://github.com/Morganamilo/paccat"
license = "GPL-3.0"
keywords = ["archlinux", "arch", "alpm", "pacman"]
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md"]

[dependencies]
alpm = "2.1.3"
alpm-utils = "1.1.2"
pacmanconf = "1.0.0"

anyhow = "1.0.44"
clap = {version = "3.0.0-beta.4", default-features = false, features = ["std", "cargo", "derive"]}
compress-tools = "0.12.2"
nix = "0.23.0"
regex = "1.5.4"

[profile.release]
codegen-units = 1
lto = true

[features]
git = ["alpm/git", "alpm-utils/git"]
generate = ["alpm/generate"]

